* {margin:0;padding:0;position:relative;outline: none;border:none;
font-family:inherit;font-size: inherit;font-weight: inherit;font-style:inherit;background:none}

* {user-select:none;-ms-user-select:none;/*cursor:inherit*/;}
*:before{top:0;left:0;}
*:after {bottom:0;right:0}



body,html {
	width:100%;height:100%;
	position:relative;
	background:#000;
	color:#fff;
	cursor: default;
}
body{
	scrollbar-base-color: #C1C1C1;
	scrollbar-face-color: #C1C1C1;

	scrollbar-3dlight-color: #C1C1C1;
	scrollbar-highlight-color: #C1C1C1;
	scrollbar-shadow-color: #C1C1C1;
	scrollbar-darkshadow-color: #C1C1C1;


	scrollbar-track-color: #fff;
	scrollbar-arrow-color: #505050;
}



.v-devider {
	display:block;
	width:100%;
} .h5 {
	height:5px;
} .h15 {
	height:15px;
} .h25 {
	height:25px;
} .w5 {
	width:5px;
} .w15 {
	width:15px;
} .w25 {
	width:25px;
}





.hidden {
	display:none !important;
} .displayed {
	display: block !important;
}










.tab {

} .tab__item {
	display:none;
}





























































.ddl {
	position: relative;
	padding: 10px;

	/* Styles */
	background: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 7px;

	/*box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
	cursor: pointer;outline: none;

	/* Font settings */
	font-weight: bold;
	color: #8AA8BD;

	display: flex;
	align-items:center;
}

.ddl:after {
	display: flex;
	content: "";
	width: 0;
	height: 0;
	position: relative;
	margin-left: 5px;
	border-width: 5px 5px 0 5px;
	border-style: solid;
	border-color: #8aa8bd transparent;
}

.ddl .ddl__placeholder {
	overflow:hidden;text-overflow: ellipsis;white-space: nowrap;
}
.ddl .ddl__list {
  /* Size & position */
	position: absolute;
	top: 100%;
	margin-top: 5px;
	left: 0;
	right: 0;
	z-index: 1;

	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	/*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;

	/* Hiding */
	opacity: 0;
	display:none;
	pointer-events: none;
}

.ddl.ddl--nolarrow .ddl__list:after {
	display:none;content:none;
}
.ddl .ddl__list:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;    
}

/*.ddl .ddl__list:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;    
}*/

.ddl .ddl__option {
	display: block;
	padding: 10px;

	border-bottom: 1px solid #e6e8ea;
	/*box-shadow: inset 0 1px 0 rgba(255,255,255,1);*/
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	color: #8aa8bd;
}

.ddl  .ddl__option:first-of-type {
	border-radius: 7px 7px 0 0;
}

.ddl .ddl__option:last-of-type {
	border: none;
	border-radius: 0 0 7px 7px;
}

/* Active state */

.ddl.active .ddl__list {
	opacity: 1;
	pointer-events: auto;
}
