.wrapper-window {
	min-width:1075px;min-height:665px;
	width:100%;height:100%;
	vertical-align: middle;
	position: absolute;
	overflow: hidden;
}.window {
	display:flex;flex-direction:column;position: relative;

	width:100%;height:100%;
	margin: 0 auto;

	background:#fff;
	font-family: 'PF BeauSans Pro';
} .window .header {

	/*height:60px;
	width:100%;
	display: flex;
	align-items: center;
	padding:0 0 0 20px;
	box-sizing:border-box;*/
}
.emptyfield {
	position: fixed;
	width:100%;height:100%;
	z-index: 99999;
}



.firstblock {
	height:40px;
	display: flex;
}


.firstblock .button:first-child {
	border-left:none;
}.firstblock .button:last-child {
	border-right:none;
} .firstblock .button {
	display:flex;align-items: center;justify-content: center;
	height:100%;width:100%;

	background:#0398b9;
	box-sizing: border-box;
	border:1px solid #333;
	cursor: pointer;
} .firstblock .button:hover {
	background:#34b6e4;
} .firstblock .button__icon {
	margin-right:6px;
}
















.section-versions {
	display: flex;
	justify-content:space-between;
	background: #333;
	padding: 9px 6px 9px;
	align-items:center;
}


.section-versions .versions {
	display:flex;
}.section-versions .tech-buttons {
	display:flex;
}.section-versions .minibutton {
	font-size: 15px;
	padding:5px 9px;
	margin: 0 15px;
}

.section-versions .separator {
	position: relative;
	margin: 0 11px 0 11px;
	width: 1px;
	height: 100%;
	background: rgba(255,255,255,0.1);
}
.section-versions .search-block {
	display: flex;align-items: center;
	padding: 5px 14px 5px 10px;
	margin-right: 2px;

	background:#fff;
	border-radius: 2px;
	border: 0 none;
	box-sizing: border-box;

	height: 28px;

	color: #333;
	font-size: 15px;
	line-height: 16px;
}.section-versions .search-button {
	cursor:pointer;
}.section-versions .search-form {
	margin-left:5px;width: 140px;
}


.section-versions .button {
	cursor: pointer;
	padding: 4px 8px;
	border-radius:2px;
	margin: 0 2px;
}.section-versions .button:hover {
	background:#ff7e00;
}.section-versions .button--active{
	background: #0398b9;
}.section-versions .button--active:hover {
	background:#34b6e4;
}.section-versions .button__text {}

















.thirdblock {
	display: flex;
	padding: 6px;
	background:#6b6b6b;
	background-image: url('resource/tile.png');
	background-size: 105px;
}.thirdblock:before {
	/*content: "";*/
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('resource/left_part.png') no-repeat;
}.thirdblock:after {
	/*content: "";*/
	position: absolute;
	top:0;right:0;
	height: 100%;
	width:199px;
	background: url('resource/right_part.png') no-repeat;
}

.thirdblock .left,.thirdblock .rigth {
	display: flex;
}.thirdblock .left {
	flex-shrink:0; /*flex-grow:3;*/
}
.thirdblock .left .icon {
	display: flex;align-items: center;justify-content:center;

	background:url('resource/logo_full.png') no-repeat;
	width:267px;height:64px;
}
.thirdblock .left .titleblock {
	/*line-height: 25px;*/
	margin-left:13px;
	font-weight:200;
} .thirdblock .left .titleblock .top {
	font-size:33px;font-weight: 300;
} .thirdblock .left .titleblock .bottom {
	font-size: 14px;
	margin-left: 3px;
}



.thirdblock .right {
	display:flex;align-items: center;justify-content:center;
	justify-content: flex-end;flex:1;
	z-index: 1;
} .thirdblock .right > * {
	min-height:36px;min-width:36px;
	max-height:36px;height:36px;
	box-sizing:border-box;
	border-radius: 2px !important;

	white-space: nowrap;
	flex-shrink:0;
} .thirdblock .right .minibutton {
	margin:0 2px 0 2px;
	font-size:15px;
	height:30px !important;min-height:30px !important;max-height:30px !important;
	box-sizing:border-box;
} .thirdblock .right .selectize-control {
	min-height:36px;min-width:36px;
}













.thirdblock .right .ddl {
	font-size:15px;
	max-width: 185px;
	height:30px !important;min-height:30px !important;max-height:30px !important;

	font-weight: 400;
	color: #323232;
} .thirdblock .right .ddl__option {
	display:flex;align-items: center;
	border:0;border-radius:0;
	color: #555;
	padding: 5px 10px;
}.thirdblock .right .ddl__option:hover {
	background: #f5f5f5;
} .thirdblock .right .ddl__option--active {
	background:#0398b9;color:#fff;
}.thirdblock .right .ddl__option--active:hover {
	background:#34b6e4 !important;
}

 .thirdblock .right .ddl__option .icon {
	margin-right:5px;
} .thirdblock .right .ddl__list {
	border:0;border-radius:0;
	min-width:190px;
} .thirdblock .right .ddl:after {
	border-color: #333 transparent;
}


@media (min-width: 1150px) {
	.thirdblock .right .ddl {
		max-width: 200px;
	}
	.filters .blockname {
		display:flex !important;
	}
}
@media (min-width: 1350px) {
	.thirdblock .right .ddl {
		max-width: 350px;
	}
}




.thirdblock .wrapper-separator {
	margin:0 6px 0 6px;
} .thirdblock .separator {
	position: absolute;
	width:1px;height:100%;
	background:#333;
	opacity: .5;
}





.filters {
	background: #d9eef2;
	/*height:25%;*/
	max-height:25%;
	font-weight:700;
} .filters .scroll {
	height:100%;max-height:100%;width:100%;max-width:100%;
} .filters .content {
	display: flex;justify-content: center;justify-content: space-between;
	padding:15px 20px 15px 20px;
	width: 100%;height: 100%;
	/*width:100px;max-width:100px;*/
	box-sizing:border-box;
} .filters .block {
	display: flex;justify-content:center;
}
    .filters .filtersClick .item__button {
       
       
        z-index: 1;
       
        top: -10px;
       
       
        
    }
    .filters .filtersClick .button__text {
        margin-left: 50%;
        /* align-self: center; */
        /* align: "center";
        /* justify-content: center; */
        /* size: landscape; */
        display: flex;
        justify-content: center;
        /* padding: 3px 8px 3px 8px; */
        width: 110px;
        text-align: center;
        border: 1px solid grey;
        border-radius: 9px;
        font-size: smaller;
        background-color: #f5f5f5;
    }
    .filters .blockname {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid #cee3ce;
        padding: 0 15px 0 0;
        height: 100%;
        /*display:none;*/
    }
.filters .name {
	color: #78c4d1;
	font-size:10.5px;
} .filters .container {
	margin-left: 5px;

} .filters .js-nodelete:first-child { /* ;FEATURE */
	margin-right: -4px;
} .filters .block-item {
	display: inline-block;
} .filters .item {
	display:block;
	padding: 5px 10px 5px 10px;
	box-sizing: border-box;
	min-width: 115px;max-width:115px;width:115px;
	margin: 3px 0 3px 0;

	color:#3ab4c9;
	cursor: pointer;
	font-size:12px;
} .filters .item:hover {
	background:#fff;
} .filters .item--active,.filters .item--active:hover {
	background:#fff;
}
















.servers {
	flex:1;
	display: flex;
}.servers .scroll {
	height:100%;max-height:100%;width:100%;max-width:100%;
}

.servers .item {
	display: flex;align-items:center;
	border-bottom:1px solid #dddddd;
	
	background:#f5f5f5;color:#000;

	font-weight: 300;
	padding: 8px 10px;
}.servers .item:hover {
	background:#f5f5f5; /* #f9f9f9 */
}.servers .item--type1 {
	background:#FF1F1A;
}.servers .item--type1:hover {
	background:#FF1F1A;
}.servers .item--type2 {
	background:#ff911a;
}.servers .item--type2:hover {
	background:#ff911a;
}.servers .item--type3 {
	background: linear-gradient(to bottom,#a0d700 0,#98b903 100%);
}.servers .item--type3:hover {
	background: linear-gradient(to bottom,#a0d700 0,#98b903 100%);
}.servers .item--type4 {
	background: linear-gradient(to bottom,#34b6e4 0,#0398b9 100%);
}.servers .item--type4:hover {
	background: linear-gradient(to bottom,#34b6e4 0,#0398b9 100%);
}.servers .item--type5 {
	background: linear-gradient(to bottom,#e51786 0,#e40e81 100%);;
}.servers .item--type5:hover {
	background: linear-gradient(to bottom,#e51786 0,#e40e81 100%);;
} .servers .item > * {
	margin: 0 8px 0 8px;
}



.servers .item--colored,
.servers .item--colored .item__title,
.servers .item--colored .item__desc,
.servers .item--colored .item__online,
.servers .item--colored .item__num {
	color:#fff !important;
}.servers .item--colored .item__version {
	color:#e4e2e2 !important;
}
.servers .item--colored .item__desc,
.servers .item--colored .item__online {
	font-weight:600;
}


.servers .item--colored .item__title,
.servers .item--colored .item__points,
.servers .item--colored .item__voices {
	font-weight:600;
}

.servers .item__num {
	font-weight:400;
	font-size: 18px;
	color:#777777;

	display: flex;justify-content: center;

	max-width: 45px;width: 45px;
	margin: 0;
}.servers .item__icon {
	width:50px;height:50px;
}.servers .item__title {
	color:#008fa9;
	font-weight: 600;
}.servers .item__desc {
	color:#817e7e;
	font-size: 12px;
}



.servers .item__body {
	max-width: 700px;
} .servers .item__body > * {
	margin: 3px 0 3px 0;
} .servers .item__points,.servers .item__voices {
	font-size: 13px;
	width: 80px;max-width: 80px;
	text-align: center;
} .servers .item__voices {
	margin:0 10px 0 10px;
}





.servers .item__button {
	display:flex;align-items:center;
	margin: 0 2px 0 2px;
	padding:3px 8px 3px 8px;
	color:#fff;
	font-size: 13px;
	border-radius: 0.15em;
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 9px;background-clip: padding-box;
}.servers .item__button .button__icon {
	margin-right:6px;
}.servers .item__button .button__text {
	height: 2px;line-height: 0;font-size: 12px;
	line-height:2px;
}


.servers .item__button--type1 {
	background:#f89406;
}.servers .item:hover .item__button--type1 {
	background:#f89406;
}.servers .item__button--type1:hover {
	background:#eea442 !important;
}

.servers .item__button--type2 {
	background:#34b6e4;
}.servers .item:hover .item__button--type2 {
	background:#34b6e4; /* 5c95c5*/
}.servers .item__button--type2:hover {
	background:#51789c !important;
}

.servers .item__button--type3 {
	background:#0398b9;
}.servers .item:hover .item__button--type3 {
	background:#0398b9;
}.servers .item__button--type3:hover {
	background:#51789c !important;
}

.servers .item__button--type4 {
	background:#f89406;
}.servers .item:hover .item__button--type4 {
	background:#f89406;
}.servers .item__button--type4:hover {
	background:#eea442 !important;
}


.servers .item__info {
	flex:2;height:100%;
	display: flex;justify-content: flex-end;align-items: center;
	/*padding: 0 15px 0 0;*/
	margin:0;
} .servers .item__server_status {
	margin-right:10px;
} .servers .item__online {
	display: block;
	color: #008fa9;
	font-size: 14px;

	text-align: right;
} .servers .item__version {
	font-weight: bold;
	color: #555;
	
	text-align: right;
}

.servers .item__info .buttons {
	display:flex;
	border-radius: 7px;
	border: 2px solid #fff;
} .servers .item__info .buttons > *:first-child {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
} .servers .item__info .buttons > *:last-child {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
} .servers .item__info .buttons > * {
	border-radius: 7px;

	display:flex;
	background: #ff7e00;
	color: #fff;
	font-size:18px;
	cursor: pointer;
	box-sizing: border-box;
} .servers .likebutton {
	justify-content: center;
    align-items: center;
	padding: 6px 10px;
	border-right: 2px solid #fff;
}.servers .item--favourite .likebutton {
	color: #F44336;
} .servers .item--favourite .likebutton:hover {
	color: #F44336 !important;
	background: #ff7e00 !important;
} .servers .likebutton:hover {
	background: #f89406;
} .servers .playbutton {
	padding: 6px 15px;
	min-width: 120px;width: 120px;max-width: 120px;
} .servers .playbutton:hover {
	background: #f89406;
} .servers .playbutton__icon {
} .servers .playbutton__text {
	margin-left: 5px;
}



.servers .item__controls {
	display: flex;align-items: center;
}






.servers .control-buttons {
	display: flex;align-items:center;justify-content:center;
	padding: 10px 0;
}
.servers .nextbutton {
	display: flex;align-items:center;justify-content:center;
	padding: 3px 21px;
	background: #8aa8bd;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
	cursor: pointer;
} .servers .nextbutton__icon {
} .servers .nextbutton__label {
	margin-left: 5px;
}




































































.minibutton {
	display: flex;align-items: center;justify-content: center;
	padding: 9px;
	background-color:#fff;
	border-radius:2px;
	box-sizing: border-box;
	letter-spacing: -0.3px;
	color:#323232;
	cursor: pointer;
}.minibutton:hover {
	background-color:#e6e6e6;
} .minibutton__icon {
	background-repeat: no-repeat !important;
	background-size:contain !important;
	width:15px !important;height:15px !important;
	min-width:15px !important;
	min-height:15px !important;
} .minibutton__text {
	margin-left:3px;
	color:#323232;
}

.selectize-control {
	height:36px;
}.selectize-input {
	background-color:#fff !important;
	border-radius:.25em !important;
	width:80px !important;height:100% !important;
}.selectize-input:hover {
	background-color:#e6e6e6;
}.selectize-control.single .selectize-input:after {
	right: 5px !important;
}



.icon {
	background-repeat: no-repeat !important;
	background-size: cover !important;
}


.icon--user {
	background: url('resource/icons/add-user.png');
	width:15px;height:15px;
} .icon--game {
	background: url('resource/icons/joystick.png');
	width:24px;height:24px;
} .icon--refresh {
	background: url('resource/icons/refresh.png');
	width:24px;height:24px;
} .icon--folder {
	background: url('resource/icons/downloads.png');
	width:24px;height:24px;
} .icon--vk {
	background: url('resource/icons/vk.png');
	width:24px;height:24px;
} .icon--support {
	background: url('resource/icons/email.png');
	width:24px;height:24px;
} .icon--settings {
	background: url('resource/icons/settings.png');
	width:24px;height:24px;
}






.icon--server_up {
	background: url('resource/icons/star.png');
	width:18px;height:18px;
} .icon--add_server {
	background: url('resource/icons/add.png');
	width:18px;height:18px;
}



.icon--i_star {
	background: url('resource/icons/i_star.png');
	width:16px;height:16px;
} .icon--i_paint {
	background: url('resource/icons/i_paint.png');
	width:16px;height:16px;
} .icon--i_like {
	background: url('resource/icons/i_like.png');
	width:16px;height:16px;
} .icon--i_dollar {
	background: url('resource/icons/i_dollar.png');
	width:16px;height:16px;
} .icon--i_play {
	background: url('resource/icons/i_joystick.png');
	width:22px;height:22px;
}









/*.g-tooltip:hover::after {*/

.g-tooltip {
	content: attr(data-tooltip);

	position: absolute;

	display: block;align-items: center;justify-content: center; /* TO_EDIT FOR IE11 -> dispaly:flex */
	z-index: 2;

	background: #000;color: #fff;
	transition: visibility 0s, opacity 0.5s linear;
	visibility: hidden;opacity:0;
	font-size: 11px;

	padding: 4px 10px;
	border: 1px solid #333;
	border-radius: 6px;

	top: 110%;
	bottom: unset;right: unset;left:-150%; /* TO_EDIT FOR IE11 */
}